appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
frida==14.2.6
frida-tools==9.1.0
frida-util==0.9
future==0.18.2
hexdump==3.3
idna==2.10
jsbeautifier==1.14.0
pefile==2019.4.18
prettytable==2.0.0
prompt-toolkit==3.0.10
psutil==5.8.0
pyelftools==0.27
Pygments==2.7.4
pyjsparser==2.7.1
r2pipe==1.5.3
requests==2.25.1
revenge==0.20
soupsieve==2.1
termcolor==1.1.0
unicorn==1.0.2
urllib3==1.26.2
wcwidth==0.2.5
