appdirs==1.4.4
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cxxfilt==0.3.0
decorator==4.1.2
EditorConfig==0.12.3
frida==14.2.6
frida-tools==9.1.0
frida-util==0.9
future==0.18.2
hexdump==3.3
idna==2.10
ipdb==0.13.9
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
jsbeautifier==1.14.0
parso==0.7.1
pefile==2019.4.18
pexpect==4.2.1
pickleshare==0.7.4
prettytable==2.0.0
prompt-toolkit==3.0.10
psutil==5.8.0
pyelftools==0.27
Pygments==2.7.4
pyjsparser==2.7.1
r2pipe==1.5.3
requests==2.25.1
revenge==0.20
simplegeneric==0.8.1
six==1.16.0
soupsieve==2.1
termcolor==1.1.0
toml==0.10.2
traitlets==4.3.2
unicorn==1.0.2
urllib3==1.26.2
wcwidth==0.2.5
